* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        45deg,
        darkred,
        black
    ); 
}

h2 {
    position: relative;
    display: flex;
    gap: 15px;
    color: goldenrod;
    font-size: 4em;
    cursor: pointer;
    text-transform: uppercase;
}

h2 span {
    position: relative;    
}

h2 span i:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    background: goldenrod;
    top: 0;
    left: -5px;
    box-shadow: 0 53px goldenrod,
                37px 53px goldenrod,
                36px, 0 goldenrod;
}

h2 span i:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background: goldenrod;
    top: 0;
    left: -5px;
    box-shadow: 0 60px goldenrod, 30px 60px goldenrod,
                30px 0 goldenrod;
}